Q1.create one variable containing following type of data:

In [ ]:
a = 'shivendra'
type(a)

str

In [30]:
a = [ "table",4,88,"shiv" ]
type(a)

list

In [31]:
a = 44.567
type(a)

float

In [32]:
a = ("table",4,88,"shiv",55.7,"True")
type(a)

tuple

Q2. Give are some following variables containing data:

In [21]:
var1=''
type(var1)

str

In [24]:
var2='[DS,ML,Python]'
type(var2)

str

In [25]:
var3=["DS","ML","Python"]
type(var3)

list

In [28]:
var4=1.
type(var4)

float

Q3.Explain the use of the following operators using an example

In [46]:
a = 56
b = 5

#1Divide
c =a/b     
print(c)

#2Gives Reminder
d = a%b    
print(d)

#3Int divison
e = a//b   
print(e)

#4power
f = a**b    
print(f)

11.2
1
11
550731776

Q4.create a list of length 10 of your choice containing multiple type of data.using for loop print
the element and its data type.

In [45]:
lst = [1,22,44.5,"true",True,'shiv',"table",66,777.9,888.77]
for i in lst :
    print(i)

1
22
44.5
true
True
shiv
table
66
777.9
888.77

Q5.using a while loop,verify if the number A is purely divisible by number B 
and if so then how many times it can be divisible

In [ ]:
a = 90
b = 3
c = a%b
while c:
    count = 0
    if c==0:
        count+=1
        continue

Q6.create a list containing 25 int type data.using for loop and if-else 
condition print if the element is divisible by 3 or not.

In [58]:
lst = [1,25,73,994,66,44,77,856,557,46,78,22,34,45,56,78,58,97,4,45,67,89,345,55,64]
for i in lst :
    if i%3==0:
        print(i,"Is divisible by 3")
    else:
        print(i,"Not divisible")

1 Not divisible
25 Not divisible
73 Not divisible
994 Not divisible
66 Is divisible by 3
44 Not divisible
77 Not divisible
856 Not divisible
557 Not divisible
46 Not divisible
78 Is divisible by 3
22 Not divisible
34 Not divisible
45 Is divisible by 3
56 Not divisible
78 Is divisible by 3
58 Not divisible
97 Not divisible
4 Not divisible
45 Is divisible by 3
67 Not divisible
89 Not divisible
345 Is divisible by 3
55 Not divisible
64 Not divisible

Q7.what do you understand about mutable and immutable data types?give 
example for both showing this property.

In [61]:
lst = [1,22,44.5,"true",True,'shiv',"table",66,777.9,888.77]  #mutable
a = ("table",4,88,"shiv",55.7,"True")     #immutable
lst[3] ="pwskill"
print(lst)
a[2] = 66
print(a)

[1, 22, 44.5, 'pwskill', True, 'shiv', 'table', 66, 777.9, 888.77]

TypeError: 'tuple' object does not support item assignment